 /* ここにbody*/
 body {
    font-family: "Arial", "Meiryo", sans-serif;
    .blue{
        color: skyblue;
    }
    .pink {
        color:rgb(255, 192, 203);
      }
      
      text-align: center;
  }
  /*ここにh1*/
  h1 {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 1.2em;
    text-align: center;
    font-weight: bold;
    border-bottom:solid 3px rgb(115, 115, 114);
    text-shadow: 1px 1px 2px rgb(115, 115, 114);
   
  }
  .josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
 /*ここにid;basic*/
  #basic > p {
    font-weight: bold;
     
  }
  
 